/*body*/

#bg {
    position:absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

 body {
    font-family: 'Lora', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Work Sans', sans-serif;
    background-color: #1E2852;
    margin: 0px;
}


/*header*/
/*add d0 after the hexa color to have the effect of transparency. Opacity does the same.*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background:#4B666Bd0;
}


#img {
    color:  #171f42;
}


.heading {
    font-size: x-large;
    color: #ffffffd0;
}


/*main*/

main {
    display: flex;
    justify-content: center;
}


.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    border-radius: 20px;
    box-shadow: 2px 0px 10px #bbbbbbd0;
    background: #4B666Bd0;
    color:#cdd3eed0;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.search {
    margin-bottom: 10px;;
}


input {
    outline: none;
    border: none;
    border-radius: 18px;
    background-color: #ffffffd0;
    height: 20px;
}


button {
    outline: none;
    border: none;
    border-radius: 18px;
    background-color: #ffffffd0;
    height: 20px;
    width: 30px;
}


button:hover {
    cursor: pointer;
    background-color: white;
}


.error {
    color: #eaa1a0;
}


/*astronomy*/

.astronomy.loading {
    visibility: hidden;
    position: relative;
}


.astronomy.loading:before {
    visibility: visible;
    content: "Loading...";
    color: whitesmoke;
    position: absolute;
    top: 0;
}


h2.city {
    margin-left: 20px;
    font-size: x-large;
    color: #cdd3ee;
}


.img {
    color:#171f42;
}


.img, .sunrise, .sunset, .moonrise, .moonset, .moon-phase, .moon-illumination {
    display: flex;
    justify-content: center;
}


.sunrise, .sunset, .moonrise, .moonset, .moon-phase, .moon-illumination {
    font-size: 20px;
    border-bottom-width: 3px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-style:solid ;
    border-color:#303E42;
}


/*footer*/


.footer {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 20px;
 color: #ffffffd0;
 margin-top: 20px;
}


.footer>a {
    font-size: 20px;
    color: #ffffffd0;
}


.footer>a:hover {
    color: #4B666Bd0;
}


p {
    margin: 0;
}


@media screen and (max-width: 2560px) {
    body {
        width: 100%;
    }
}


@media screen and (max-width: 280px) {
    .heading {
        font-size: large;
    }
}